.Shadow {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
	/*float: left;*/
	border-radius: 3px;
}
.Shadow:before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
	border-radius: 3px;
  opacity: 0.01;
  transition: opacity var(--transition-in);
}
.Shadow:hover {
	z-index: 10;
}
.Shadow:hover:before, .Shadow:focus:before, .force:before {
  opacity: 1;
	transition: opacity var(--transition-out);
}

.ChildContext {
  opacity: 0.99;
	display: flex;
}

.high:before {
	box-shadow: 0 7px 14px 0 hsla(0, 0%, 0%, 0.4),
		0 14px 15px 1px hsla(0, 0%, 0%, 0.32),
		0 17px 42px 2px hsla(0, 0%, 0%, 0.38);
}

.mid:before {
	box-shadow: 0 0 4px 2px hsla(0, 0%, 0%, 0.20),
		0 4px 4px 2px hsla(0, 0%, 0%, 0.34);
}

.low:before {
	box-shadow: 0 0 2px 0 hsla(0, 0%, 0%, 0.12),
		0 2px 2px 0 hsla(0, 0%, 0%, 0.24);
}
.fillWidth {
	width: 100%;
}
