.position {
	display: inline-block;
	margin: 7px;
}
.Button {
	-webkit-user-select: none;
	padding: 7px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	transition: background var(--transition-in);
	border-radius: var(--border-radius);
}
.Button:hover, .Button:focus {
	background: var(--interactive-accent);
	transition: background var(--transition-out);
}
.Button:active {
	background: var(--background);
}
.disabled:hover {
	background: var(--background);
}
