.TextInput {
	top: 0;
	position: absolute;
	width: 500px;
}
.Card {
	max-height: 80vh;
	width: 500px;
}

.clickable {
	cursor: pointer;
}
.clickable:hover {
	background: var(--raised-higher-background);
}
.selectedResult,
.selectedResult:hover {
	background: var(--dark-background);
}
