
.input {
	background: transparent;
	font: normal normal normal 16px/21px Fira Code;
	color: var(--bright);
	line-height: var(--line-height);
	padding: 0 0 1px 0;
	border: 0;
	border-bottom: 1px solid var(--interactive);
	outline: none;
	width: 100%;
	-webkit-caret-color: var(--interactive);
}
