:root {
  --background-color: #546E7A;
  --border-color: #00BFA5;
  --basic-text-color: #F5F5F5;
	--raised-background: #455A64;
  --raised-higher-background: #415660;
  --card-background-color: #455A64;
  --bright-color: #64FFDA;
	--dark-background: #37474F;
	--line-height: 48px;
}
body {
  background: var(--background-color);
}
::-webkit-scrollbar {
	width: 1px;
	background: transparent;
}
::-webkit-scrollbar-button {
	height: 0;
	background: transparent;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-track-piece {
	height: 0;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--bright-color);
}
::-webkit-scrollbar-corner {
	height: 0;
	background: transparent;
}
::-webkit-resizer {
	height: 0;
	background: transparent;
}
