.Foreground {
	width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px);
	height: 100%;
	margin: var(--margin) calc(48px + var(--margin) + var(--padding));
	position: relative;;
	top: 0;
	right: 0;
	transition-property: width;
	transition-duration: var(--transition-in);
	float: left;
}
.leftMenuSpace {
	animation-fill-mode: forwards;
	animation-name: leftMenuSpace;
	animation-duration: var(--transition-in);
}
.closeLeftMenuSpace {
	animation-fill-mode: forwards;
	animation-name: closeLeftMenuSpace;
	animation-duration: var(--transition-in);
}
.rightMenuSpace {
	animation-fill-mode: forwards;
	animation-name: rightMenuSpace;
	animation-duration: var(--transition-in);
}
.closeRightMenuSpace {
	animation-fill-mode: forwards;
	animation-name: closeRightMenuSpace;
	animation-duration: var(--transition-in);
}
/* TODO use key frames to transfer float left and right */
@keyframes leftMenuSpace {
  0% {
		float: right;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px);
	}
  100% {
		float: right;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px - 140px);
	}
}
@keyframes closeLeftMenuSpace {
  0% {
		float: right;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px - 140px);
	}
  100% {
		float: right;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px);
	}
}

@keyframes rightMenuSpace {
  0% {
		float: left;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px);
	}
  100% {
		float: left;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px - 250px);
	}
}
@keyframes closeRightMenuSpace {
  0% {
		float: left;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px - 250px);
	}
  100% {
		float: left;
		width: calc(100vw - var(--padding) - var(--padding) - var(--padding) - 48px - 48px);
	}
}
