.Stage {
	/*
	width 100%
	- padding left
	- padding right
	- left icons
	- right icons
	*/
	width: 100%;

	background: var(--background);
	border-radius: var(--border-radius);
	transition-property: transform;
	transition-duration: var(--transition-in);

	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to top, var(--background), hsla(0, 0%, 100%, 0.1)) 1 99%;
}

.leftMenuSpace {
	transition-property: transform;
	transition-duration: var(--transition-in);
}
.wrap {
	width: 100%;
	margin-top: 7px;
	margin-bottom: calc(34px + var(--margin));
	transition-property: transform;
	transition-duration: var(--transition-in)
}
